{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block head %}
    {{ parent() }}
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel('pause');
            $('.carousel').bind('slid mouseleave', function() {
                $('.carousel').carousel('pause');
            });
        });
    </script>
{% endblock %}

{% block title %}- {{ entry.getTitle() }}{% endblock %}

{% block headerTitle %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}

{% block content %}
    <div class="contentArticle span10 offset1">
        <div id="textArticle">
            <h1>{{ entry.getTitle() }}</h1>
            <p>
                Publié le <span class="infosArticle">{{ entry.getCreatedOn() | date('d/m/Y') }}</span>
                par <span class="infosArticle">{{ entry.getAuthorName() }}</span>
                (derni&egrave;re &eacute;dition le <span class="infosArticle">{{ entry.getUpdatedOn() | date('d/m/Y') }}</span>).
                <br />
                {% set items = entry.getItems() %}
                {% if items | length > 1 %}
                    Contient <span class="infosArticle">{{ items | length }} m&eacute;dias</span>.
                {% elseif items | length == '1' %}
                    Contient <span class="infosArticle">1 m&eacute;dia</span>.
                {% else %}
                    Ne contient aucun m&eacute;dia.
                {% endif %}
            </p>
            {% if entry.getSubtitle() | length > 0 %}
            <p class="desc">
                <br />
                {{ entry.getSubtitle() }}
                <br />
            </p>
            {% else %}
            <p>
                <br />
                Aucune description.
                <br />
            </p>
            {% endif %}
            <br />
            <a class="logoMinus" href="/feed/{{ feed.getId() }}/0/5"></a>
            <br />
       </div><!-- /textArticle -->
    </div><!-- /contentArticle -->

    <div class="imgArticle span8 offset2">
        <div id="carouselArticle" class="carousel">
            <div class="carousel-inner">
                {# if there is at least one item in the entry #}
                {% if items | length > 0 %}
                    {% for item in items %}
                        {% set record = item.getRecord() %}
                        {% if loop.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="center" align="center">
                                        {# if item is an image #}
                                        {% if record.getPhraseaType() == 'image' %}
                                            {% for subdef in record.getSubdefs() %}
                                                {% set subName = subdef.getName() %}
                                                {% if subName == 'preview' %}
                                                    {% set previewUrl = subdef.getPermalink().getUrl() %}
                                                    <img src="{{ previewUrl }}" />
                                                {% endif %}
                                            {% endfor %}
                                        {# if item is a video #}
                                        {% elseif record.getPhraseaType() == 'video' %}
                                            {% for subdef in record.getSubdefs() %}
                                                {% set subName = subdef.getName() %}
                                                {% if subName == 'preview' and subdef.getPermalink() is not none %}
                                                    {% set playerWidth = subdef.getWidth() %}
                                                    {% set playerHeight = subdef.getWidth() %}
                                                    {% set previewUrl = subdef.getPermalink().getUrl() %}
                                                    <video id="{{ subName }}_{{ record.getTitle() }}" class="video-js vjs-default-skin" controls
                                                        preload="auto" width="{{ playerWidth }}" height="{{ playerHeight }}" poster=""
                                                        data-setup="{}">
                                                        <source src="{{ previewUrl }}" type='video/mp4'>
                                                    </video>
                                                {% elseif subName == 'preview' and subdef.getPermalink() is none %}
                                                    Aucun affichage disponible pour ce document
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            <div class="carousel-caption">
                                <h4>{{ record.getTitle() }}</h4>
                                <p>MimeType : {{ record.getMimeType() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {# if there is no media in the entry #}
                {% else %}
                    <div class="item active">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="noItem" valign="center" align="center">Aucun m&eacute;dia disponible</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div><!-- /carousel-inner -->
            <a id="ccLeft" class="carousel-control left" href="#carouselArticle" data-slide="prev">&lsaquo;</a>
            <a id="ccRight" class="carousel-control right" href="#carouselArticle" data-slide="next">&rsaquo;</a>
        </div><!-- /carouselArticle -->
    </div><!-- /imgArticle -->
{% endblock %}

{% block footer %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}
