{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block head %}
    {{ parent() }}
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel('pause');
            $('.carousel').bind('slid mouseleave', function() {
                $('.carousel').carousel('pause');
            });
        });
    </script>
{% endblock %}

{% block title %}- {{ entry.getTitle() }}{% endblock %}

{% block headerTitle %}
    {{ macros.navFeedList(feeds, fromFeedId) }}
{% endblock %}

{% block content %}
    <div class="contentArticle span10 offset1">
        <div id="textArticle">
            <h1>{{ entry.getTitle() }}</h1>
            <p>
                {% trans %}Published on{% endtrans %}<span class="infosArticle"> {{ entry.getCreatedOn() | date('d/m/Y') }}</span>
                {% trans %}by{% endtrans %}<span class="infosArticle"> {{ entry.getAuthorName() }}</span>
                ({% trans %}Last edition on{% endtrans %}<span class="infosArticle"> {{ entry.getUpdatedOn() | date('d/m/Y') }}</span>).
                <br />
                {% set items = entry.getItems() %}
                {% if items | length > 1 %}
                    <span class="infosArticle">{{ items | length }} {% trans %}medias{% endtrans %} </span>{% trans %}available{% endtrans %}.
                {% elseif items | length == '1' %}
                    <span class="infosArticle">1 {% trans %}media{% endtrans %} </span>{% trans %}available{% endtrans %}.
                {% else %}
                    {% trans %}No media available{% endtrans %}.
                {% endif %}
            </p>
            {% if entry.getSubtitle() | length > 0 %}
            <p class="desc">
                <br />
                {{ entry.getSubtitle() }}
                <br />
            </p>
            {% else %}
            <p>
                <br />
                {% trans %}No description available{% endtrans %}.
                <br />
            </p>
            {% endif %}
            <br />
            <a class="logoMinus" href="{{ app.request.server.get('HTTP_REFERER') }}"></a>
            <br />
       </div><!-- /textArticle -->
    </div><!-- /contentArticle -->

    <div class="imgArticle span8 offset2">
        <div id="carouselArticle" class="carousel">
            <div class="carousel-inner">
                {# if there is at least one item in the entry #}
                {% if items | length > 0 %}
                    {% for item in items %}
                        {% set record = item.getRecord() %}
                        {% if loop.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="center" align="center">
                                        {# if item is an image #}
                                        {% if record.getPhraseaType() == 'image' %}
                                            {% for subdef in record.getSubdefs() %}
                                                {% set subName = subdef.getName() %}
                                                {% if subName == 'preview' and subdef.getPermalink() is not none %}
                                                    {% set previewUrl = subdef.getPermalink().getUrl() %}
                                                    <img src="{{ previewUrl }}" />
                                                {% endif %}
                                            {% endfor %}
                                        {# if item is a video #}
                                        {% elseif record.getPhraseaType() == 'video' %}
                                            <video id="preview_{{ record.getTitle() }}" class="video-js vjs-default-skin"
                                                    controls preload="auto" data-setup="{}" width="766" height="574">
                                            {% for subdef in record.getSubdefs() if subdef.getName() == 'preview' %}
                                                {% if subdef.getPermalink() is not none %}
                                                    {% set previewUrl = subdef.getPermalink().getUrl() %}
                                                    <source src="{{ previewUrl }}" type='{{ subdef.getMimeType() }}'>
                                                {% endif %}
                                            {% endfor %}
                                            </video>
                                        {# if item is anything else #}
                                        {% else %}
                                            {% trans %}No view available for this type of media{% endtrans %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            <div class="carousel-caption">
                                <h4>{{ record.getTitle() }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                {# if there is no media in the entry #}
                {% else %}
                    <div class="item active">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="noItem" valign="center" align="center">{% trans %}No media available{% endtrans %}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div><!-- /carousel-inner -->
            <a id="ccLeft" class="carousel-control left" href="#carouselArticle" data-slide="prev">&lsaquo;</a>
            <a id="ccRight" class="carousel-control right" href="#carouselArticle" data-slide="next">&rsaquo;</a>
        </div><!-- /carouselArticle -->
    </div><!-- /imgArticle -->
{% endblock %}

{% block footer %}
    {{ macros.navFeedList(feeds, fromFeedId) }}
{% endblock %}
