{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}- {{ feed.getTitle() }}{% endblock %}

{% block headerTitle %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}

{% block content %}
    {% set entries = feed.getEntries() %}
    {% if entries | length > 0 %}   
        {% for entry in entries %}
            <div class="viewArticles span10 offset1">
                <div class="row">
                    <div class="previewArticle span6">
                        <h1><a href="/entry/{{ feed.getId() }}/0/5/{{ entry.getId() }}">{{ entry.getTitle() }}</a></h1>
                        <p>
                            <span class="infosArticle">Description : </span>{{ entry.getSubtitle() }}<br />
                            <span class="infosArticle">Date de publication : </span>{{ entry.getCreatedOn() | date('d/m/Y') }}.<br />
                            <span class="infosArticle">Auteur : </span>{{ entry.getAuthorName() }}
                        </p>
                        <a class="logoPlus" href="/entry/{{ feed.getId() }}/0/5/{{ entry.getId() }}"></a>
                    </div><!-- /previewArticle -->
                    <div class="previewImage span4">
                        <div class="thumbnail">
                            {% set items = entry.getItems() %}
                            {% if items | length > 0 %}
                                {% set firstItem = items[0] %}
                                {% set record = firstItem.getRecord() %}
                                {% set thumbnail = record.getThumbnail() %}
                                {% set permalink = thumbnail.getPermalink() %}
                                <img src="{{ permalink.getUrl() }}" alt="{{ entry.getTitle() }}" />
                            {% else %}
                                Aucun m&eacute;dia disponible
                            {% endif %}
                        </div>
                    </div><!-- /previewImage -->
                </div>
            </div><!-- /viewArticles -->
            {% if not loop.last %}
				<div class="span10 offset1">
					<hr>
				</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="viewArticles span10 offset1">
            <div class="row">
                <h2>Aucune entr&eacute;e dans ce flux.</h2>
            </div>
        </div><!-- /viewArticles -->
    {% endif %}
{% endblock %}

{% block footer %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}
