{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}- {{ feed.getTitle() }}{% endblock %}

{% block headerTitle %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}

{% block content %}
    {% set entries = feed.getEntries() %}
    {% if entries | length > 0 %}
        {% for entry in entries %}
            <div class="viewArticles span10 offset1">
                <div class="row">
                    <div class="previewArticle span6">
                        <h1><a href="/entry/{{ feed.getId() }}/0/5/{{ entry.getId() }}">{{ entry.getTitle() }}</a></h1>
                        <p>
                            {% trans %}Published on{% endtrans %}<span class="infosArticle"> {{ entry.getCreatedOn() | date('d/m/Y') }}</span>
                            {% trans %}by{% endtrans %}<span class="infosArticle"> {{ entry.getAuthorName() }}</span>.
                        </p>
                        <p class="desc">
                            {{ entry.getSubtitle() }}
                        </p>
                        <a class="logoPlus" href="/entry/{{ feed.getId() }}/0/5/{{ entry.getId() }}"></a>
                    </div><!-- /previewArticle -->
                    <div class="previewImage span4">
                        <a href="/entry/{{ feed.getId() }}/0/5/{{ entry.getId() }}">
                            <div class="thumbnail">
                                {% set items = entry.getItems() %}
                                {% if items | length > 0 %}
                                    {% set firstItem = items['0'] %}
                                    {% set record = firstItem.getRecord() %}
                                    {% if record.getPhraseaType() != 'image' and record.getPhraseaType() != 'video' %}
                                        {% trans %}No preview available for this document{% endtrans %}
                                    {% else %}
                                        {% for subdef in record.getSubdefs() if subdef.getName() == 'preview' %}
                                            {% if subdef.getPermalink() is not none and subdef.getPlayerType() == 'IMAGE' %}
                                                {% set previewUrl = subdef.getPermalink().getUrl() %}
                                                <img src="{{ previewUrl }}" alt="{{ entry.getTitle() }}" />
                                            {% else %}
                                                {% trans %}No preview available for this document{% endtrans %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% trans %}No media available{% endtrans %}
                                {% endif %}
                            </div>
                        </a>
                    </div><!-- /previewImage -->
                </div>
            </div><!-- /viewArticles -->
            {% if not loop.last %}
				<div class="span10 offset1">
					<hr>
				</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="viewArticles span10 offset1">
            <div class="row">
                <h2>{% trans %}There is no entry in this feed{% endtrans %}</h2>
            </div>
        </div><!-- /viewArticles -->
    {% endif %}
{% endblock %}

{% block footer %}
    {{ macros.navFeedList(feeds, feed) }}
{% endblock %}
