{% extends "base.html.twig" %}

{% block headerTitle %}
    {#<p>
        {% for feed in feeds %}
            <a href="/feed/{{ feed.getId() }}?offset_start=0&per_page=5">{{ feed.getTitle() }}</a>
            {% if not loop.last %}
                <span class="slash">/</span>
            {% endif %}
        {% endfor %}
    </p>#}
{% endblock %}

{% block content %}
    {% if feeds | length > 0 %}
        <div id="feedsListHome" class="span12">
            <h1>Bienvenue</h1>
            <div class="row">
                {% for feed in feeds %}
                <div class="previewFeed span3">
                    <a href="/feed/{{ feed.getId() }}?offset_start=0&per_page=5">
                        <div class="blueBarTop"></div>
                        <div class="prevFeedContent">
                            <div class="prevFeedThumb">
                                <img src="{{ configuration.get('instance_uri') }}{{ feed.getIcon() }}" />
                            </div>
                            <div class="prevFeedText">
                                <h4>{{ feed.getTitle() }}</h4>
                                <p>{{ feed.getSubtitle() }}</p>
                            </div>
                        </div>
                        <div class="blueBarBot"></div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="feedsListHome span10 offset1">
            <div class="row">
                <h2>{% trans %}There is no feed available{% endtrans %}</h2>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    {#<p>
        {% for feed in feeds %}
            <a href="/feed/{{ feed.getId() }}/0/5">{{ feed.getTitle() }}</a>
            {% if not loop.last %}
                <span class="slash">/</span>
            {% endif %}
        {% endfor %}
    </p>#}
{% endblock %}
